* {
    box-sizing: border-box;
}


footer {
    margin: 10px;
}

form {
    width: 80%;
    margin-left: 10%;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #455A64;
    background-color: rgb(169, 186, 194);
}

h1 {
    text-align: center;
    font-size: 300%;
}

h2 {
    margin-left: 10%;
    font-size: 200%;
}


#home-img {
    width: 60%;
    margin-left: 20%;  
}


md-card {
    background-color: rgb(199, 202, 202);
}

md-content {
    background-color: rgb(169, 186, 194);
}

md-nav-item {
    text-align: center;
}


p {
    text-align: center;
    padding: 0;
    margin: 0;
}

table {
    width: 80%;
    margin-left: 10%;
}

td, th{
    width: 30%;
    text-align: center;
    word-spacing: 2px;
    border-bottom: 1px solid #455A64;
    
}

thead {
    font-size: 140%;
    font-weight: bold;
    color: #455A64;
}

tr:hover {
    background-color: rgb(199, 202, 202);
}