* {
    box-sizing: boarder-box;
}

button {
    background-color: #F6DDDF;
    border-radius: 3px;
    color: #5F6F75;
}

input {
    margin-bottom: 2%;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #EEC9C8;
    color: #5F6F75;
}

h1 {
    text-align: center;
    font-size: 350%
}
table {
    width: 80%;
}

form {
    width: 60%;
}

p {
    text-align: center;
}
td, th{
    width: 30%;
    text-align: center;
    word-spacing: 2px;
    margin-left: 33%;
    border-bottom: 1px solid #DF9C9D;
}

thead {
    text-decoration: underline;
    font-size: 140%;
}

tr:hover {
    background-color: #DF9C9D;
}

.strike {
    text-decoration: line-through;
}