<div>
    <h2>Add Pet</h2>
    <form ng-submit="pc.addToPets(pc.petToAdd)">
        <input type="text" placeholder="Pet Name" ng-model="pc.petToAdd.name">
        <input type="text" placeholder="Pet Color" ng-model="pc.petToAdd.color">
        <input type="text" placeholder="Pet Breed" ng-model="pc.petToAdd.breed">
        <!-- figure out how to pull in owner name and id information  -->
        <!-- write a second GET to pull the owner information -->
        <select name="Owner Name" id="owner-dropdown" ng-model="pc.petToAdd.owner_id" ng-options="x for x in pc.owners.name"></select>
        <input type="submit" value="submit">
    </form>
</div>
<div>
    <h2>History</h2>
    <table>
        <thead>
            <th>Owner</th>
            <th>Pet</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Checked In</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="pet in pc.pets">
                <td>
                    <!-- owner name -->
                </td>
                <td>
                    {{pet.name}}
                </td>
                <td>
                    {{pet.breed}}
                </td>
                <td>
                    {{pet.color}}
                </td>
                <td>
                    <!-- checked in -->
                </td>
                <td>
                    <button ng-click="pc.deletePet(pet.id)">Delete</button>
                    <button>Check In</button>
                    <button>Check Out</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>