<div>
    <h2>Add Pet</h2>
    <form ng-submit="pc.addToPets(pc.petToAdd)">
        <input type="text" placeholder="Pet Name" ng-model="pc.petToAdd.name">
        <input type="text" placeholder="Pet Color" ng-model="pc.petToAdd.color">
        <input type="text" placeholder="Pet Breed" ng-model="pc.petToAdd.breed">
        <select ng-model="pc.petToAdd.owner_id">
           <!-- adds blank option above pet owners names -->
            <option></option> 
            <option ng-repeat="x in pc.owners" value="{{x.id}}">{{x.name}}</option>
        </select>
        <input type="submit" value="submit">
    </form>
</div>
<div>
    <h2>History</h2>
    <table>
        <thead>
            <th>Owner</th>
            <th>Pet</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Checked In</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="pet in pc.pets">
                <td>
                    {{pet.owner_name}}
                </td>
                <td>
                    {{pet.pet_name}}
                </td>
                <td>
                    {{pet.pet_breed}}
                </td>
                <td>
                    {{pet.pet_color}}
                </td>
                <td>
                    {{pet.check_in}}
                </td>
                <td>
                    <button ng-click="pc.deletePet(pet.id)">Delete</button>
                    <button ng-click="pc.showCheckIn(pet.id)">Check In</button>
                    <button ng-click="pc.hideCheckIn(pet.id)">Check Out</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>