<div>
    <h2>Add Pet</h2>
    <form ng-submit="pc.addToPets(pc.petToAdd)">
        <input type="text" placeholder="Pet Name" ng-model="pc.petToAdd.name">
        <input type="text" placeholder="Pet Color" ng-model="pc.petToAdd.color">
        <input type="text" placeholder="Pet Breed" ng-model="pc.petToAdd.breed">
        <select name="Owner Name" id="owner-dropdown"></select>
        <input type="submit" value="submit">
    </form>
</div>
<div>
    <h2>History</h2>
    <table>
        <thead>
            <th>Owner</th>
            <th>Pet</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Checked In</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <!-- owner name -->
                </td>
                <td>
                    <!-- pet name -->
                </td>
                <td>
                    <!-- breed -->
                </td>
                <td>
                    <!-- Color -->
                </td>
                <td>
                    <!-- Checked In -->
                </td>
                <td>
                    <button>Delete</button>
                    <button>Check In</button>
                    <button>Check Out</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>